@font-face {
    font-family: "nome";
    src: url(Sketch_Block.ttf) format("truetype");
}

@font-face{
    font-family: "botao";
    src: url(TypoGraphica.otf) format("truetype");
}

body{
	background-color: white;
}

#nome{
	position: absolute;
	top: 20%;
	margin-top: 0em;
	font-family: "nome";
	font-size: 150px;
	color: black;
	text-align: center;
}

.botaoMenu{
	float:left;
	background-color: #0b1520;
	border-right: 1px black;
	color: white;
	display: block;
	font-family: "botao";
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	padding: 5px 15px;
	position: relative;
	height: 40px;
	width: 90px;;
	border-left: 2px solid black;
	border-right: 2px solid black;
	left:24%;
	text-decoration: none;
}

#curriculum.botaoMenu{
	border-left: 4px solid black;
}

#contato.botaoMenu{
	border-right: 4px solid black;
}

#menu{
	position: relative;
	top: 50px;
	background-color: #0b1520;
	height: 50px;
	width: 700px;
	margin: auto;
	border-radius:30px;
    opacity: 0.8;
}

#painel{
	position: relative;
	top: 0px;
	background-color: white;
	height: 600px;
	width: 1000px;
	margin: auto;
    opacity: 0.8;
}

table,td,th{
	border: 1px solid black;
	padding: 15px;
}
td{
	color:purple;
}
.destaque{
	text-align:left;
	background-color:lightblue;
}
